{% extends 'chat/base.html' %}
{% load tz %}
{% load staticfiles %}
{% block css %}
    {% static  'chat/css/chat.css' %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-3 col-xs-12" id="phone-panel">
            <a href="{% url 'mainapp:homeView' %}" id="home_btn">Back to Home</a>
            <nav class="navbar navbar-collapse-sm navbar-light bg-light">
                <h6>Logged in as <span style="color:#13f3de; font-size:12px">{{ user.first_name }} {{ user.last_name }}</span></h6>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-right" id="navbarNavAltMarkup">
                    {% if recents %}
                        <a class="nav-item nav-link" href="{% url 'chat:show_contacts' %}">Contacts</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'chat:homepage'%}">Recent chats</a>
                    {% endif %}
                    <a class="nav-item nav-link active" href="#">Edit Account</a>
                    <a class="nav-item nav-link " href="javascript:{document.getElementById('logout').submit();}">Logout</a>
                    <form id="logout" method="post" action="{% url 'accounts:logout' %}">
                        {% csrf_token %}
                        <input type="hidden"/>
                    </form>
                </div>

            </nav>
            <div id="pheader">
                <hr style="padding-bottom: 0;width:100%"/>
                {%  if contacts %}
                    <h5 id="contact-header">Tap to start conversation</h5>
                {% elif recents %}
                    <h5 id="contact-header">Recent chats</h5>
                {% elif message %}
                    <h5 id="contact-header">{{ message }}</h5>
                {% endif %}
                {% if count %}
                    <div id="count" style="padding:0 0 10px 0; "><small>{{ count }}</small></div>
                    <br/>
                {% endif %}
            </div>
            <hr style="margin-top: 0"/>
            {% if contacts %}
                {% for contact, room in contacts %}
                    <div id="contacts-log">
                    <a href="javascript:{window.location.pathname = '/messaging/chat/{{room.name}}';}">
                        <div class="card contact">
                            <div style="float:left; height:100%">
                                <img src="{% static 'chat/img/man.png' %}" alt="image" class="dp"/>
                                <h4>{{ contact.first_name }} {{ contact.last_name }}</h4>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% elif message %}
                <script type="text/javascript">
                    document.getElementById('contact-header').innerHTML = '{{ message }}';
                </script>
            {% elif recents %}
                <div id="recents-container">
                    {% if recents != 'Null' %}
                        {% for contact, room, last_text, unread in recents %}
                            <a href="javascript:{window.location.pathname = '/messaging/chat/{{room.name}}';}" id="chat_init">
                                <div class="card contact">
                                    <div class="image" style="float:left; height:100%">
                                        <img src="{{ contact.userprofile.profile_photo.url }}" alt="image" class="dp"/>
                                        <h4>{{ contact.first_name }} {{ contact.last_name }}</h4>
                                        <br />
                                        {% if last_text.deleted_A and party == 'A' or last_text.deleted_B and party == 'B' %}
                                            <small class="last-text" id="{{ contact.id }}">This message was deleted</small>
                                        {% else %}
                                            <small class="last-text" id="{{ contact.id }}">{{ last_text.sliced_text }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <p id="recents-helper" style="padding-top: 50px;">Your recent chats will appear here. It seems that you currently have none</p>
                    {% endif %}
                </div>
            {% endif %}
            </div>
        </div>
        <div class="col-md-8 col-xs-12 md-offset-1 d-none d-sm-block">
            <!-- a list of text messages by a friend -->
            <div class="texts">
                <div class="header" id="chat-panel-heading" >
                    <div id="active_user-panel">
                        <h3 id="active_user">
                            {% if active_contact %}
                                <img src="{{ active_contact.userprofile.profile_photo.url }}" id="activeimg"
                                     alt="image" class="dp"/>{{ active_contact.first_name }} {{ active_contact.last_name }}
                                {% else %}
                                Chat Panel
                            {% endif %}
                        </h3></div>
                    {% if texts_list and texts_list != 'Null'%}
                        <p id="delete-initiator" onclick="toggle_delete_view()">Delete Texts</p>
                    {% endif %}
                </div>
                <div id="texts_section">
                    {% if texts_list %}
                        <div id="chatlog">
                            <button type="button" onclick="delete_texts()" class="btn btn-outline-danger" id="delete-button">
                                Delete</button>
                            <form method="post" action="{% url 'chat:delete_texts' %}" id="delete-form">
                                {% csrf_token %}
                                <input type="hidden" name="room_name" value="{{ room_name }}"/>
                                <div id="texts-container">
                                    {% if texts_list and  texts_list != 'Null' %}
                                        {% for date,texts in texts_list %}
                                            {% if date == today %}
                                                <p class="text-center date" id="today" >Today</p>
                                            {%  elif date == yesterday %}
                                                <p class="text-center date" >Yesterday</p>
                                            {% else %}
                                                <p class="text-center date" >{{ date }}</p>
                                            {% endif %}
                                            {% for text in texts %}
                                                {% if text.author == user %}
                                                    <div class="sent">
                                                        <p > {{ text.content }}</p>
                                                        <p class ="time">{{ text.time|date:"H:i" }}</p>
                                                        <input class="delete-sent" type="checkbox" name="to_delete" value="{{ text.id }}"/>
                                                    </div>
                                                {% else %}
                                                    <div class="replies">
                                                        {% if text.deleted_A and party == 'A' or text.deleted_B and party == 'B' %}
                                                            <p> This message was deleted</p>
                                                        {% else %}
                                                            <p> {{ text.content }}</p>
                                                            <p class ="time">{{ text.time|date:"H:i" }}</p>
                                                        {% endif %}
                                                        <input class="delete-reply" type="checkbox" name="to_delete" value="{{ text.id }}"/>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                    <div/>
                            </form>
                            {#                            {% else %}#}
                        </div>
                        <form  class="form-inline" id="input-message">
                            <div class="form-group" style="width:100%" id="text_form">
                                <textarea name="message" id="message" cols="30" rows="10" placeholder="Type a message"></textarea>
                                <span class="input-group-append">
                        <button class="btn btn-primary" id="send" >
                        <img src="{% static 'chat/img/png/caret-right-6x.png' %}"/>
                        </button>
                    </span>
                        </form>

                        </div>
                        </div>
                    {% else %}
                        <div class="row">
                        <div class="col-md-4 offset-md-4 text-center" >
                            <h4 style="padding-top: 200px;font-family: 'Lobster Two', cursive; ">Welcome to Smart-Chat. <br/> Tap on a contact to start conversation</h4>
                        </div>
                    {% endif %}
                    </div>
        </div>
    </div>

    {% if room_name_json %}
        <script type="text/javascript">
            let roomName = {{ room_name_json }};
            let username = {{ username_json }};
            loc = window.location;
            wsStart  = 'ws://';
            let form = $('#form');
            let chatContainer = $('#chat-items');
            if (loc.protocol === 'https:'){
                wsStart = 'wss://'
            }
            endpoint1 = wsStart + loc.host + loc.pathname;
            endpoint2 = wsStart  + loc.host + '/';
            let chatSocket = new ReconnectingWebSocket(endpoint1);
            let notifySocket = new ReconnectingWebSocket(endpoint2);
            chatSocket.onmessage = function(e) {
                let data = JSON.parse(e.data);
                HandleMessage(data, username, {{ active_contact.id }})
            };
            chatSocket.onclose = function() {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#message').focus();
            document.querySelector('#message').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#send').click();
                }
            };
            document.querySelector('#send').onclick = function() {
                let messageInputDom = document.querySelector('#message');
                let message = messageInputDom.value;
                let datetime = new Date();
                let current_time = datetime.getDate()+ '-'+(datetime.getMonth()+1)+'-'+datetime.getFullYear()+ ' '
                    +datetime.getHours()+':'+datetime.getMinutes()+':'+datetime.getSeconds();
                let toSend =JSON.stringify({
                    'command': 'new_message',
                    'message': message,
                    'chat_room': roomName,
                    'from':username,
                    'current_time':current_time
                });
                chatSocket.send(toSend);
                notifySocket.send(toSend);
                messageInputDom.value = '';
            };
        </script>
    {% endif %}

{% endblock %}




























