<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Patua+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}" >
</head>
<body>
<div id="alert-container"></div>
<div class="row success-row">
    <div class="col-md-6 offset-md-3 success-col success-div">
        {% if first %}
        <i class="far fa-check-circle success-logo"></i>
        <h4 class="success-header">Account Created</h4>
        {% endif %}
        <p>Your Account was created but it is not yet active. An activation link was sent to <b>{{ email }}</b>.
            Click on the link to activate your account</p>
        <a href="#" onclick="resendLink()">Resend link</a><br/>
        <a onclick="showResendForm()" href="#">Edit Email</a>
        <form id="resend-link-form" method="post" action="{% url 'accounts:edit-email' %}" hidden>
            {% csrf_token %}
            <input type="hidden" id="old-email" name="old-email" value="{{ email }}"/>
            <input type="email" placeholder="Type a new email address" id="new-email"
                   name="new-email" value="{{ email }}" class="form-control"/>
            <br/>
            <input type="button" onclick="resendLink()" class="btn btn-info" value="Submit"/>
        </form>
    </div>
</div>
<div class="modal loader"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script type="text/javascript" src="{% static 'accounts/js/register.js' %}"></script>

<script type="text/javascript">
    $body = $("body");

    $(document).on({
        ajaxStart: function() { $body.addClass("loading");    },
        ajaxStop: function() { $body.removeClass("loading"); }
    });
</script>
</body>
</html>