<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <title>Cohmat Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans|Patua+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}" >

</head>
<body>
<div class="row">
    <a id="login-button"  href="{% url 'accounts:login' %}">Login</a>
    <div class="col-md-8 offset-md-2" id="page_wrapper">
        <form id="msform" action="{% url 'accounts:register' %}" class="msform" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <ul id="progressbar">
                <li class="active">Account Setup</li>
                <li>Personal Details</li>
                <li>Find Your Community</li>
            </ul>
            <h3 id="banner">{{ error_message }}</h3>
            <!--fieldsets-->
            <fieldset>
                <div class="fieldset-title">
                    <h2 class="fs-title fieldset-header">Create your account</h2>
                    <h3 class="fs-subtitle fieldset-subheader">This is step 1</h3>
                </div>
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Type in your School Email"/>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter a username of your choice" autocomplete="username"/>
                <label for="password1">Password</label>
                <input type="password" name="password1" id="password1" placeholder="Choose a password" autocomplete="new-password"/>
                <label for="password2">Confirm password</label>
                <input type="password" name="password2" id="password2" placeholder="Retype password" autocomplete="new-password"/>
                <div class="fieldset-footer">
                    <input type="button" name="next" class="next action-button" value="Next" />
                </div>
            </fieldset>
            <fieldset id="profile_details">
                <div class="fieldset-title">
                    <h2 class="fs-title fieldset-header">Build your profile</h2>
                    <h3 class="fs-subtitle fieldset-subheader">Help other CohMat members know more about you</h3>
                </div>
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <label for="profile_photo"><i class="fas fa-edit"></i></label>
                        <input type='file' name="profile_photo" id="profile_photo" accept=".png, .jpg, .jpeg" />
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name" id="first_name" placeholder="First Name"/>
                    </div>
                    <div class="col-sm-6">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name" id="last_name" placeholder="Last Name"/>
                    </div>
                    <div class="col-lg-12">
                        <label id="study_field_label" for="study_field">Select your field of study</label>
                        <select name="study_field" id="study_field">
                            {% for field in study_fields %}
                                <option value="{{ field.id }}">{{field.title}}</option>
                            {% endfor %}
                        </select>
                        <label for="school">School</label>
                        <input type="text" name="school" id="school" placeholder="Types the name of your school"/>
                    </div>
                </div>
                <div class="fieldset-footer">
                    <input type="button" name="back" class="previous action-button" value="Back"/>
                    <input type="button" name="next" class="next action-button" value="Next" />
                </div>
            </fieldset>
            <fieldset class="cohort_list">
                <div class="cohort-loaders">
                    <div id="alert-container"></div>
                    <p><input type="hidden" id="left-count" value=""/>
                        <i class="fas fa-caret-left" id="load_previous" onclick="load_cohorts('left')">
                        </i>
                    </p>
                    <p><input type="hidden" id="right-count" value=""/>
                        <i class="fas fa-caret-right" id="load_next" onclick="load_cohorts('right')"></i>
                    </p>
                </div>
                <div class="fieldset-title">
                    <h2 class="fs-title fieldset-header">Find your community</h2>
                    <h3 class="fs-subtitle fieldset-subheader">Select at least one cohort that you'd like to join</h3>
                </div>
                <br />
                <div class="row" id="to_join_container">
                    {#                    cohorts goes here#}
                </div>
                <input type="hidden" id="selected_cohorts" value="" name="cohorts"/>
                <br />
                <div class="fieldset-footer">
                    <input type="button" name="back" class="previous action-button" value="Back" />
                    <input type="button" onclick="submitRegForm()"  name="submit_button"  class="submit action-button" value="Submit" />
                </div>
            </fieldset>
        </form>
    </div>
    <form id="email-confirmation-form" method="post" action="{% url 'accounts:email-confirmation' %}">
        {% csrf_token %}
        <input type="hidden" id="user-email" name="email"/>
    </form>
</div>
<div class="modal loader"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script type="text/javascript" src="{% static 'accounts/js/register.js' %}"></script>

<script>
    $body = $("body");

    $(document).on({
        ajaxStart: function() { $body.addClass("loading");    },
        ajaxStop: function() { $body.removeClass("loading"); }
    });
</script>
</body>

</html>
