<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% block title %}
        <title>Cohmat Home</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}"/>
</head>
<body id="body">
<!--Navigation bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'mainapp:homeView' %}"><img class="img-fluid" src="{% static 'images/cohmat_home_logo.PNG' %}"
                                                                     alt="CohMat"/></a>
    <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarItems"
            aria-controls="navbarItems" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarItems">
        <ul class="navbar-nav navbar-left">
            <li>
                <form class="form-inline">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" name="search" placeholder="Text to search"/>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="home_link" href="{% url 'mainapp:homeView' %}"><i class="fas fa-home"></i> Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="modal" data-target="#questionModal"
                   id="question_link"  href="#">
                    <i class="fas fa-plus"></i>
                    Question
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="groups_link" href="{% url 'mainapp:groupsView' %}"><i class="fas fa-users"></i> Groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="notifications_link" href="{% url 'mainapp:notificationsView' %}"><i class="fas fa-bell"></i> Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="messages_link" href="{% url 'mainapp:messagesView' %}"><i class="fas fa-comment"></i> Messages</a>
            </li>
        </ul>
    </div>
    <ul class='navbar-right hidden-sm hidden-xs'>
        <li><a href="#" onclick="openNav()">
            {% if user.userprofile.profile_photo %}
                <img src="{{ user.userprofile.profile_photo.url }}" class="img-fluid profile-image" alt="author_photo"/>
            {% else %}
                <img src="{% static 'accounts/images/default_profile_pic.png' %}" class="img-fluid profile-image" alt="author_photo"/>
            {% endif %}
            {{ user.first_name }} {{ user.last_name  }}</a></li>
    </ul>
</nav>
<!--User details sidenav-->
<div id="mySidenav" class="sidenav" data-backdrop=''>
    <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="{% url 'mainapp:profile_view' user.userprofile.id %}">View profile</a>
    <a href="#">Manage my groups</a>
    <a href="#">Change Password</a>
    <a href="#">Switch Account</a>
    <a href="javascript:{document.getElementById('logout_form').submit();}" id="logout">Sign Out</a>
    <form id="logout_form" method="post" action="{% url 'accounts:logout' %}">
        {% csrf_token %}
        <input type="hidden"/>
    </form>
    <div class="danger-zone">
        <h3 style="color:red">DANGER ZONE</h3>
        <a href="#">Deactivate Account</a>
        <a href="#">Delete Account</a>
    </div>
</div>

<div class="row " id='main-row'>
    {% block body %}
    {% endblock %}
    <!--Chatting pane-->
    {% block quick_messaging %}
        <div class="col-md-4 column hidden-sm hidden-xs">
            <div id="quick-chat-panel">
                <p class="column-title">One-on-one chat </p>
                <div id="column-3-subtitles">
                    <table class=" table-condensed">
                        <thead>
                        <tr>
                            <th>Person</th>
                            <th>Current Interest</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user, chatroom in contacts %}
                            <tr>
                                <td>
                                    <a href="{% url 'mainapp:profile_view' user.userprofile.id %}">
                                        <img src="{{ user.userprofile.profile_photo.url }}" class="img-fluid profile-image" alt=""/>
                                        {{user.first_name}} {{ user.last_name }}
                                    </a>
                                </td>
                                <td>{{user.userprofile.current_interest}}</td>
                                <td><a href="{% url 'chat:chat' chatroom %}" class="messaging_link"><i class="fab fa-facebook-messenger"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
</div>
<!--QUIZ MODAL-->
<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'mainapp:create_post' %}" id="question-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <textarea placeholder="Type or paste your question here" name="question-text" id="question-text" cols="20" rows="5"  ></textarea>
                    <div class="row">
                        <div class="question-details col-md-6">
                            <input type="file" accept="image/*" id="question-image" name="question-image"/>
                        </div>
                        <div class="question-details col-md-6">
                            <select name="question-group" id="question-group">
                                <option value="0">Select group</option>
                                {% for cohort in user_cohorts %}
                                    <option value="{{ cohort.id }}">{{ cohort.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="questionSubmit" onclick="submit_question()" class="btn btn-info">Submit</button>
                <p class="text-center" id="quiz-error"></p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script type="text/javascript" src="{% static 'mainapp/js/main.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        styleactivelink('{{ active_link }}')
    });
</script>
</body>
</html>