{% extends 'mainapp/base.html' %}
{% load static %}
{% load mptt_tags %}

{% block body %}
    <!--Recommendable groups pane-->
    <div class="col-md-3 column d-none d-md-block">
        <div id="recommended-groups-container" class="info-panel">
            <p class="column-title">Groups you may like</p>
            <form method="post" action="{% url 'mainapp:join' %}">
                {% csrf_token %}
                <button class="btn btn-outline-primary" type="submit" id="join-recommended">Join Selected</button>
                {% if to_recommend %}
                    <h5 id="join-help">Select a group to join</h5>
                {% else %}
                    <p >No recommendable groups found</p>
                {% endif %}
                <ul id="recommended-groups">
                    {% for cohort in to_recommend %}
                        <li class="panel-title">
                            <input class="coh-checker" name="to_join" onclick="styleJoinButton()" value="{{ cohort.id }}" type="checkbox"/>
                            <p>{{ cohort }}</p>
                        </li><br/>
                    {% endfor %}
                </ul>
                <input type="hidden" name="page" value="home"/>
            </form>
        </div>
    </div>
    <!--News feed pane-->
    <div class="col-md-5 column" id="news-feed">
        <p class="column-title">News feed</p>
        {% for quiz, answers in quiz_and_ans %}
            <div class="card" id="quiz_{{ quiz.id }}">
                <p class="post-title">{{ quiz.author.first_name }} {{ quiz.author.last_name }}
                    <span>></span> {{ quiz.target_cohort }}
                    {% if quiz.ago_time.desc %}
                        <small class="time-element post-time float-right timer">
                            {% if quiz.ago_time.count == 0 %}
                                <span>Just now</span>
                            {% else %}
                                <span>{{ quiz.ago_time.count }}&nbsp;</span>{{ quiz.ago_time.desc }}
                            {% endif %}
                        </small>
                    {% else %}
                        <small class="time-element post-time float-right">{{ quiz.ago_time }}</small>
                    {% endif %}
                </p>
                <p>{{quiz.content}}</p>
                {%  if quiz.image %}
                    <a href="{{ quiz.image.url }}"><img class="img-fluid" src="{{ quiz.image.url }}" alt="Missing Image"/></a>
                {% endif %}
                <br />
                <ul class="post-footer">
                    <li><a href="#" data-toggle="modal" data-target="#answersModal{{ quiz.id }}"><i class="fas fa-comment">

                    </i> {% if quiz.number_of_answers == 1 %}
                        <span class="ans-counter">1</span> Comment
                    {% else %}
                        <span class="ans-counter">{{ quiz.number_of_answers }}</span> Comments
                    {% endif %}</a></li>
                    <li class="float-right give-answer" onclick="openAnswerInput('{{ quiz.id }}')">Add a comment</li>
                </ul>
                <form class="answer-form form-inline" method="post" action="{% url 'mainapp:answer_quiz' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ quiz.id }}" name="question"/>
                    <textarea  cols="10" class="answer-input" name="answer" id="answer-input{{ quiz.id }}"></textarea>
                    <button class="btn btn-primary send-answer" id="send-answer{{ quiz.id }}" type="submit">Send</button>
                </form>
                <!-- Answers modal -->
                <div class="modal fade answerModal" id="answersModal{{ quiz.id }}" tabindex="-1" role="dialog" aria-labelledby="answersModal{{ quiz.id }}Title" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title answer-heading" id="exampleModalLongTitle">Answers/comments for
                                    <span>{{ quiz.author.first_name }}</span>'s <span>question/post</span></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="ansHolder_{{ quiz.id }}">
                                {% for answer in answers %}
                                    <div class="answer-item">
                                        <img src="{{ answer.author.userprofile.profile_photo.url }}" class="img-fluid profile-image float-left" />
                                        <h5><b>{{ answer.author.first_name }} {{ answer.author.last_name }}</b></h5>
                                        {% if answer.ago_time.desc %}
                                            <small class="float-right answer-time time-element timer">
                                            {% if answer.ago_time.count == 0 %}
                                                <span>Just now</span>
                                            {% else %}
                                                <span>{{ answer.ago_time.count }}&nbsp;</span>{{ answer.ago_time.desc }}
                                            {% endif %}
                                            </small>
                                        {% else %}
                                            <p class="float-right answer-time time-element timer">{{ answer.ago_time }}</p>
                                        {% endif %}
                                        <p class="answer-content ">{{ answer.content }}</p>
                                        <p class="reply-trigger">Reply</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

<script>

</script>
