{% extends 'mainapp/base.html' %}
{% load static %}
{% load mptt_tags %}

{% block body %}
    <!--Recommendable groups pane-->
    <div class="col-md-3 column hidden-sm hidden-xs" id="recommended-groups-container">
        <p class="column-title">Groups you may like</p>
        <form method="post" action="{% url 'mainapp:join' %}">
            {% csrf_token %}
            <button class="btn btn-outline-primary" type="submit" id="join-recommended">Join Selected</button>
            <h4 id="join-help">Select a group to join</h4>
            <ul id="recommended-groups">
                {% for cohort in to_recommend %}
                    <li class="panel-title">
                        <input class="coh-checker" name="to_join" onclick="styleJoinButton()" value="{{ cohort.id }}" type="checkbox"/>
                        <p>{{ cohort }}</p>
                    </li><br/>
                {% endfor %}
            </ul>
        </form>
    </div>

    <!--News feed pane-->
    <div class="col-md-5 column" id="news-feed">
        <p class="column-title">News feed</p>
        <div class="card">
            <p class="post-title">John Yk <span>></span> Django Web Framework</p>
            <p>Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.</p>
            <a href="#"><img class="img-fluid" src="{% static 'images/nettus.png' %}" alt="Missing Image"/></a>
            <br />
            <ul class="post-footer">
                <li><a href="#"><i class="fas fa-comment"></i> 13 Answers</a></li>
                <li class="pull-right"><a href="#">Give your answer</a></li>
            </ul>
        </div>
        <div class="card">
            <p class="post-title">Steve Jnr <span>></span> Html Programming</p>
            <p>Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.</p>
            <a href="#"><img class="img-fluid" src="{% static 'images/register_urls function.PNG' %}" alt="Missing Image"/></a>
            <br />
            <ul class="post-footer">
                <li><a href="#"><i class="fas fa-comment"></i> 5 Answers</a></li>
                <li class="pull-right"><a href="#">Give your answer</a></li>
            </ul>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            document.getElementById("home_link").classList.add('active');
        });
    </script>
{% endblock %}















{#        <ul >#}
{#            {% recursetree to_recommend %}#}
{#                <li>#}
{#                    <div id="accordion" class="panel-group">#}
{#                        <div class="panel panel-primary">#}
{#                            <div class="panel-heading">#}
{#                                <ul class='recommended-groups'>#}
{#                                    <li class="panel-title">#}
{#                                        <a href="#{{node.id}}" data-toggle="collapse" id='group_id' data-parent="#accordion">#}
{#                                            <i class="fas-icon fas fa-plus"></i></a>#}
{#                                        <p><label for="check-{{node.id}}">{{node.title}}</label></p>#}
{#                                        <input class="coh-check pull-right" value="{{ node.id }}" type="checkbox" id="check-{{node.id}}"/>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                            {% if not node.is_leaf_node %}#}
{#                                <div id="{{ node.id }}" class="panel-collapse collapse">#}
{#                                    <div class="panel-body">#}
{#                                        <ul class="children">#}
{#                                            {{ children }}#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#            {% endrecursetree %}#}
{#        </ul>#}