{% extends 'mainapp/base.html' %}
{% block title %}
    <title>Notifications</title>
    {% endblock %}
{% block body %}
    <div class="col-md-6 offset-md-1 section-container">
        <h2 id='page-heading'>Notifications</h2>
        <div class="row notification-item">
            <div class="col-md-8">
                <p> Ipsum has been the industry's standard dummy text ever since the 1500s, when  it to make a type specimen book. It has
                </p>
            </div>
            <div class="col-md-4 notification-time text-center">
                <p>13 hrs ago</p>
            </div>
        </div>
        <div class="row notification-item">
            <div class="col-md-8">
                <p> Ipsum has been the industry's standard dummy text ever since the 1500s, when  it to make a type specimen book. It has
                </p>
            </div>
            <div class="col-md-4 notification-time text-center">
                <p>13 hrs ago</p>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            document.getElementById("notifications_link").classList.add('active');
        });
    </script>

{% endblock %}