/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family:sans-serif;
    background: #f768d7;
}
.row{
    margin:0 !important;
}
#banner{
    color:#c0392b;
    font-size: 12px;
}
/*form styles*/
.msform {
    margin: 20px auto;
    position: relative;
}

.msform-edited fieldset{
    background: rgba(107, 162, 162, 0.73);
}
.msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
.msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
.msform input, #msform textarea,#msform select{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat,sans-serif;
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
.msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
.msform .action-button:hover, .msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #effff8;
    text-transform: uppercase;
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;

}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
}
.fieldset-title,.fieldset-footer{
    text-align: center;
}

.fieldset-header{
    color: #f3056f;
    font-weight: 600;
    font-size: 18px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace
}
.fieldset-subheader{
    color:#1b6d85;
    font-weight: 300;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif ;
}


.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
}
.avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.avatar-edit input {
    display: none;
}
.avatar-edit label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}
.avatar-edit label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.avatar-preview div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h5{
    font-size: 12px !important;
    font-weight: 600 !important;
}

#cohorts-pagination{
    max-width: 80%;
    position: relative;
}
.media{
    padding: 0;
}
.cohort-item{
    border:1px solid rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 0 14px 8px rgba(0, 0, 0, 0.12);
    transition: all .5s ease;
    color: rgba(30, 31, 29, 0.84);
    border-radius: 3px;
    cursor: pointer;
    width: 300px;
    font-weight: 600;
}
.cohort-item svg{
    color: #1fd90c;
    font-size: 17px;
}
.cohort-item:hover{
    transform: translate3D(0,-1px,0) scale(1.03);
    transition: all .4s ease;
}
.cohort-item img{
    height: 200px;
}
.cohort-item h4{
    color:black
}
.bottom-card-info{
    margin-left: 10px;
    padding: 10px;
}
.group-info{
    padding: 10px;
    margin-bottom: 0;
}
.group-info p{
    margin-bottom: 0;
}

.sub-column{
    padding:0;
}
.group_data{
    color: #2048ff;
    font-size: 13px;
}

.pager li{
    display: inline;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    padding: 8px;

}
.pager li a {
    text-decoration: none !important;

}
.pager li a:hover{
    color: lightblue
}
.pager li:first-of-type{
    margin-right: 40%;
}


#imagePreview{
    background-image: url(../images/default_profile_pic.png);
}

#login-button{
    position: absolute;
    top: 20px;
    left:30px;
    color: #006df3;
    font-size: 18px;
    text-transform: uppercase;
    font-family:  Monaco, "Courier New", Courier, monospace;
    font-weight: 600;
}

.card-selector{
    position:fixed;
    top:-99999px;
}

/*PLEASE WAIT ANIMATION*/
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../images/ajax-loader.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .loader {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loader {
    display: block;
}



.success-row{
    margin-right: 0;
}
.success-div{
    text-align: center;
    margin-top: 5%;
}
.success-div p{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
}

.success-logo{
    font-size: 6rem;
    color: #1fd90c;
}
.success-header{
    color: #1fd90c;
}
#edit-email-form{
    max-width: 400px;
    margin: 10% auto auto;
}







/*####################################*/
/*MEDIA QUERIES*/
@media (min-width: 768px) {


    #load_next,#load_previous{
        position: absolute;
        color: rgb(32, 207, 255);
        margin-bottom:20%;
        font-size: 60px;
    }
    .cohort-loaders:hover{
        cursor: pointer;
        color: #baff38;
    }
    #load_next{
        right: 5px;
    }
    #load_previous{
        left: 5px;
    }


}

@media (max-width: 768px) {
    .load_next,.load_previous{
        position: absolute;
        top: -9999px;
        opacity:0;
    }
}

